# The CNT indexer service (part of systemd)
# file: /etc/systemd/system/ogmios.service

[Unit]
Description      = CNT indexer service
Wants            = network-online.target
After            = network-online.target

[Service]
User             = orcfax
Type             = simple
WorkingDirectory = /var/tmp/
ExecStart        = /home/orcfax/collector/venv/bin/cnt-collector-node
KillSignal       = SIGINT
TimeoutStopSec   = 300
LimitNOFILE      = 32768
Restart          = always
RestartSec       = 5

[Install]
WantedBy         = multi-user.target
